BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: #ffffff repeat-x; PADDING-BOTTOM: 0px; MARGIN: 0px; COLOR: #303030; PADDING-TOP: 0px; FONT-FAMILY: arial,helvetica,verdana,sans-serif,tahoma;
font-size: 10px}

.item1 { BORDER: #808080 1px solid; }

.item2 { BORDER-RIGHT: #5B6E41 1px solid; BORDER-BOTTOM: #5B6E41 1px solid; BORDER-LEFT: #5B6E41 1px solid; }

.item3 { BORDER-RIGHT: #5B6E41 1px solid; BORDER-TOP: #5B6E41 1px solid; BORDER-LEFT: #5B6E41 1px solid; }

.item4 { BORDER-BOTTOM: #5B6E41 1px solid; }

.item5 { BORDER-LEFT: #333333 1px dotted; }

.item6 { BORDER-RIGHT: #333333 1px dotted; }

.item7 { BORDER-RIGHT: #333333 1px dotted; BORDER-LEFT: #333333 1px dotted; }

.item8 { BORDER-BOTTOM: #333333 1px dotted; }

.item9 { BORDER-BOTTOM: #333333 1px dotted; BORDER-TOP: #333333 1px dotted; }

.item10 { BORDER-TOP: #333333 1px dotted; }

.inputbox {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; MARGIN-BOTTOM: 1px; BORDER-LEFT: #999999 1px solid; COLOR: #333333; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #eeeeee
}
A {
	COLOR: #000; text-decoration: none;
}

#toolbar {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    font-weight: bold;
    background: #f4f4f4;
}

.InfoBox TABLE
{
	padding: 2px;
	height: 50px;
	width: 100%;
	color: #008000;
	margin-top: 0px;
	margin-bottom: 10px;
	border: solid 3px #00CC00;
	font: Arial, Helvetica, sans-serif 12px;
	background: #DAF8CB url(www.unitynatgroup.com/bulksms/web/images/icons/icon_info_41.html) no-repeat;
}

h1 {
    color: #303030;
    font-family: 'Lato', sans-serif;
    font-size: 2em;
    font-weight: 300;
    letter-spacing: -1px;
    margin: 0;
    padding: 0.3em 0 0.2em;
}

.btxt a {
	color: #ffffff;
	text-decoration: none;
}

.btxt a:hover {
	color: #ffffff;
	text-decoration: none;
}

.btn {
    position: relative;
    display: inline-block;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background-image: none;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
    padding: 4px 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.btn-wrap {
    white-space: normal;
}

.btn-primary, .tg a.btn-primary {
    border: 1px solid transparent;
    -webkit-transition-duration: .1s;
    -o-transition-duration: .1s;
    transition-duration: .1s;
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    border-top-color: #ffc099;
    border-bottom-color: #b34500;
    background: #FF6200;
    color: #FFF;
}

.link A {
	DISPLAY: block; 
	WIDTH: 100%; 
	COLOR: #000000; 
	LINE-HEIGHT: 20px; 
	height:20px;
	padding:5px;
	TEXT-DECORATION: none;
	border-right: 1px solid #a7a7a7;
	}
	
.link A:hover {
	COLOR: #ffffff; 
	BACKGROUND-COLOR: #044481; 
	TEXT-DECORATION: none;
	padding:5px;
	}

A:hover {
	COLOR: #FF6200; text-decoration: underline; 
}
FORM {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
.alignSearch {
	VERTICAL-ALIGN: middle
}
.bkg {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND-IMAGE: url(topbarshade.html); PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-COLOR: #cfcfcf
}
.bkgHeader {
	BACKGROUND-COLOR: #006699
}
.bkgShadow1 {
	BACKGROUND-COLOR: #aaaaaa
}
.bkgShadow2 {
	BACKGROUND-COLOR: #949494
}
.bkgShadow3 {
	BACKGROUND-COLOR: #7f7f7f
}
.bkgWhite {
	BACKGROUND-COLOR: #ffffff
}
.bkgGray {
	BACKGROUND-COLOR: #f0f0f0
}
.bkgBody {
	BACKGROUND-COLOR: #ffffff
}
.bkgSearch {
	HEIGHT: 35px; BACKGROUND-COLOR: #ffea9a
}
.borderEnglish {
	WIDTH: 55px
}
.borderEspanol {
	WIDTH: 80px
}
.content {
	WIDTH: 286px
}
.dsplyin {
	DISPLAY: inline
}
.hdrBanner {
	WIDTH: 473px; HEIGHT: 70px; TEXT-ALIGN: right
}
.hdrHeight {
	HEIGHT: 44px
}
.hdrLogo {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; VERTICAL-ALIGN: baseline; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px
}
.sort {
	VERTICAL-ALIGN: middle; COLOR: #006699
}
.spacer {
	HEIGHT: 5px
}
.spacerWidth {
	WIDTH: 5px
}
.textBold {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.textM {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 25px
}
.textMB {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 25px
}
.textW {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 25px; BACKGROUND-COLOR: #ffffff
}
.textLabels {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; VERTICAL-ALIGN: middle; COLOR: #006699; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 22px
}
.textLarge {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.textLargeBold {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.textMessage {
	FONT-SIZE: 12px; WIDTH: 575px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.textNormal {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.textSmall {
	FONT-SIZE: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.menuSel {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #fff3c7
}
.mesSel1 {
	FONT-WEIGHT: bold; BACKGROUND-COLOR: #fff9e1
}
.mesSel2 {
	BACKGROUND-COLOR: #fff9e2
}
.roundChaLeft {
	VERTICAL-ALIGN: top; WIDTH: 5px; BACKGROUND-COLOR: #bdd7ef
}
.roundChaRight {
	VERTICAL-ALIGN: top; BACKGROUND-COLOR: #bdd7ef
}
.textHeadersMenu {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; WIDTH: 143px; COLOR: #006699; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 23px; BACKGROUND-COLOR: #bdd7ef
}
.textFolder {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #006699; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 30px
}
.textFooter {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 40px; BACKGROUND-COLOR: #f0f0f0; TEXT-ALIGN: center
}
.formText {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.formButton {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; font-weight: bold
}
.formAdd {
	FONT-SIZE: 11px; WIDTH: 60px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.textLanguage {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.textLanguageDis {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #d4d4d4
}
.textMenu {
	FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.textSearch {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.textSearchSmall {
	FONT-SIZE: 10px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.textWelcome {
	FONT-SIZE: 11px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f0f0f0
}
.bkgDark {
	BACKGROUND-COLOR: #bdd7ef
}
.bkgLight {
	BACKGROUND-COLOR: #eff7ff
}
.textHeaders {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; WIDTH: 160px; COLOR: #006699; FONT-FAMILY: Arial, Helvetica, sans-serif; HEIGHT: 23px; BACKGROUND-COLOR: #bdd7ef
}
.textMenuBar {
	FONT-SIZE: 12px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.textYouAreHere {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; VERTICAL-ALIGN: bottom; WIDTH: 248px; COLOR: #006699; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #eff7ff
}